/* Avatar du membre */
.avatar {
	/* TODO: Changer la couleur de la bordure par la $primary_color */
	border: black solid 2px;

	/* Bords arrondis */
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;

	/* Taille de l'image */
	height: 180px;
	width: 180px;
}

.collapsible-header {
	display: block;
	text-align: left;
}