/* Pas de marge sur la page */
html, body {
    margin: 0;
    padding: 0;
}

/* Couleur du fond */
body {
	background-color: #F5F5F5;
}


/* Sous-titre d'une partie */
.sous_titre {
	margin-top: 15px;
	margin-bottom: 30px;
}

/*
* NAVBAR
*/

/* Décalage du logo */
#navbar-logo {
	margin-left: 20px;
}
/**
 * Pour fixer le footer en bas
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom:18%;
}
footer {position: absolute; bottom: 0;}
body {position: relative;}
footer {position: absolute; bottom: 0; left: 0; right: 0}