.scrollbar{
    overflow-y: scroll;
    height: 200px;
    resize: none;
}
#tchat {
    border: grey 1px solid;
    padding: 10px;
    margin-top: 10px;
}

.h-v-center {
        margin: 0px;
	padding:0px;
	float: left;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.paddock {
	margin-bottom: 10px;
}